$footer-padding: 1.5rem 0.75rem 3rem !default; // Bulma footer size.
@import "~bulma/bulma.sass";

.is-disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    opacity: 1;
}

.GreenPlus {
    color: green;
    cursor: cell;
}

.freepoints {
    font-weight: 800;
    font-family: monospace;
}
.skillnames {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

.themeFont {
    font-family: "Trade Winds", curs;
    color: orange;
}

.themeFontLight {
    font-family: "Bree Serif", serif !important;
    color: white !important;
}

.themeFontDark {
    font-family: "Trade Winds", curs;
    color: black;
}

@font-face {
    font-family: Futura;
    src: url("/fonts/Futura Book font.ttf");
}

.themeText {
    font-family: Futura;
}
